
.comics__adv {
    display: flex;
    background-color: var(--bgcolor);
    padding: 0 15px;
    margin-bottom: 52px;
    /* justify-content: space-between; */
}

.comics__heading {
    color: #fff;
    flex-grow: 1;
    align-self: center;
    padding-left: 15px;
    font-weight: bold;
    font-size: 22px;
    line-height: 29px;
}